body {
    margin: 0px;
    background-color: #f7f7f7;
    opacity: 0.7;
}
header {
    margin: 0px;
    padding: 1px;
    font-family: Helvetica, Arial, sans-serif;
    background-color:#3b5998 ;
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    color: #ffffff;

}
input#search {
    margin: 20px;
    padding: 10px 20px;
    width: 500px;
    height: 35px;
    border-radius: 10px;
}
input#submit {
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}
.definition {
    margin: 5px;
    background-color: #f7f7f7;
    color:#eff5ed;
    display: flex;
    justify-content: space-evenly;
}
p.computer_programming {
    background-color: #ffffff;
    margin: 5px;
    padding:10px;
    border-style: unset;
    border-width: 1px;
    border-color: #a1b0b6;
    border-radius: 15px;
    color: rgb(85, 87, 87);
    width: 100px;
    flex-grow: 1;

}
p.programs {
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
    border-style: unset;
    border-width: 1px;
    border-color: #a1b0b6;
    border-radius: 15px;
    color: rgb(85, 87, 87);
    width: 100px;
    flex-grow: 1;
}
p.programmers {
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
    border-style: unset;
    border-width: 1px;
    border-color: #a1b0b6;
    border-radius: 15px;
    color: rgb(85, 87, 87);
    width: 100px;
    flex-grow: 1;
}
p.programming_language {
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
    border-style: unset;
    border-width: 1px;
    border-color: #a1b0b6;
    border-radius: 15px;
    color: rgb(85, 87, 87);
    width: 100px;
    flex-grow: 1;
}
p.programmers_job {
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
    border-style: unset;
    border-width: 1px;
    border-color: #a1b0b6;
    border-radius: 20px;
    color: rgb(85, 87, 87);
    width: 100px;
    flex-grow: 1;
}
div.typical_steps {
    margin: 10px 20%;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    font-family: Helvetica, Arial,  sans-serif;
    display: block;
}

#typical_steps {
    color: rgb(85, 87, 87);
    font-family: Helvetica, Arial,  sans-serif;
}
.traits {
    margin: 10px 20%;
    padding: 10px;
    border-radius: 15px;
    /*text */
    font-family: Helvetica, Arial,  sans-serif;
    color: rgb(85, 87, 87);
    /*background */
    background-color: white;
    display: block;
}
.employment_opportunities {
    margin:10px 20%;
    padding: 10px;
    /*background color*/
    background-color: white;
    /*font*/
    font-family:  Helvetica, Arial,  sans-serif;
    color: rgb(85, 87, 87);
    border-radius: 15px;
    display: block;
}
.types {
    margin: 10px 20%;
    padding: 10px;
    background-color: white;
    color: rgb(85, 87, 87);
    font-family:  Helvetica, Arial,  sans-serif;
    border-radius: 15px;
    display: block;
}
footer {
    margin: 10px 20%;
    padding: 10px;
    background-color: white;
    color: rgb(85, 87, 87);
    font-family:  Helvetica, Arial,  sans-serif;
    border-radius: 15px;
    display: block;
}